certifi==2022.12.7
DateTime==5.1
elastic-transport==8.6.0
elasticsearch==7.17.12
elasticsearch-dsl==7.4.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
six==1.16.0
urllib3==2.6.3
zope.interface==6.0